.b-w-none {
  border-width: 0;
  border-style: solid;
}

.b-w-s {
  border-width: 2px;
  border-style: solid;
}

.b-w-sm {
  border-width: 4px;
  border-style: solid;
}

.b-w-m {
  border-width: 6px;
  border-style: solid;
}

.b-w-l {
  border-width: 8px;
  border-style: solid;
}

.b-w-xl {
  border-width: 10px;
  border-style: solid;
}

.b-w-thin {
  border-width: thin;
  border-style: solid;
}

.b-w-medium {
  border-width: medium;
  border-style: solid;
}

.b-w-thick {
  border-width: thick;
  border-style: solid;
}

.b-top-w-none {
  border-top-width: 0;
  border-top-style: solid;
}

.b-top-w-s {
  border-top-width: 2px;
  border-top-style: solid;
}

.b-top-w-sm {
  border-top-width: 4px;
  border-top-style: solid;
}

.b-top-w-m {
  border-top-width: 6px;
  border-top-style: solid;
}

.b-top-w-l {
  border-top-width: 8px;
  border-top-style: solid;
}

.b-top-w-xl {
  border-top-width: 10px;
  border-top-style: solid;
}

.b-top-w-thin {
  border-top-width: thin;
  border-top-style: solid;
}

.b-top-w-medium {
  border-top-width: medium;
  border-top-style: solid;
}

.b-top-w-thick {
  border-top-width: thick;
  border-top-style: solid;
}

.b-bottom-w-none {
  border-bottom-width: 0;
  border-bottom-style: solid;
}

.b-bottom-w-s {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.b-bottom-w-sm {
  border-bottom-width: 4px;
  border-bottom-style: solid;
}

.b-bottom-w-m {
  border-bottom-width: 6px;
  border-bottom-style: solid;
}

.b-bottom-w-l {
  border-bottom-width: 8px;
  border-bottom-style: solid;
}

.b-bottom-w-xl {
  border-bottom-width: 10px;
  border-bottom-style: solid;
}

.b-bottom-w-thin {
  border-bottom-width: thin;
  border-bottom-style: solid;
}

.b-bottom-w-medium {
  border-bottom-width: medium;
  border-bottom-style: solid;
}

.b-bottom-w-thick {
  border-bottom-width: thick;
  border-bottom-style: solid;
}

.b-left-w-none {
  border-left-width: 0;
  border-left-style: solid;
}

.b-left-w-s {
  border-left-width: 2px;
  border-left-style: solid;
}

.b-left-w-sm {
  border-left-width: 4px;
  border-left-style: solid;
}

.b-left-w-m {
  border-left-width: 6px;
  border-left-style: solid;
}

.b-left-w-l {
  border-left-width: 8px;
  border-left-style: solid;
}

.b-left-w-xl {
  border-left-width: 10px;
  border-left-style: solid;
}

.b-left-w-thin {
  border-left-width: thin;
  border-left-style: solid;
}

.b-left-w-medium {
  border-left-width: medium;
  border-left-style: solid;
}

.b-left-w-thick {
  border-left-width: thick;
  border-left-style: solid;
}

.b-right-w-none {
  border-right-width: 0;
  border-right-style: solid;
}

.b-right-w-s {
  border-right-width: 2px;
  border-right-style: solid;
}

.b-right-w-sm {
  border-right-width: 4px;
  border-right-style: solid;
}

.b-right-w-m {
  border-right-width: 6px;
  border-right-style: solid;
}

.b-right-w-l {
  border-right-width: 8px;
  border-right-style: solid;
}

.b-right-w-xl {
  border-right-width: 10px;
  border-right-style: solid;
}

.b-right-w-thin {
  border-right-width: thin;
  border-right-style: solid;
}

.b-right-w-medium {
  border-right-width: medium;
  border-right-style: solid;
}

.b-right-w-thick {
  border-right-width: thick;
  border-right-style: solid;
}/*# sourceMappingURL=test.css.map */