@import "./values";

@each $key, $value in $units {
    .b-top-w-#{$key} {
      border-top-width: $value;
      border-style: solid;
    }
}

@each $key, $value in $units {
  .b-bottom-w-#{$key} {
    border-bottom-width: $value;
    border-style: solid;
  }
}




