@import "./radius-value";

// .b-w-#{$key}{
//     border-width: $value;
//     border-style: solid;
//   }

@each $key, $value in $round-percent{

    .round-tl-#{$key}{
        border-top-left-radius: $value;
        border-style: solid;
    }

}

@each $key, $value in $round-percent{

    .round-tr-#{$key}{
        border-top-right-radius: $value;
        border-style: solid;
    }

}

@each $key, $value in $round-percent{

    .round-bl-#{$key}{
        border-bottom-left-radius: $value;
        border-style:solid;
    }
}

@each $key, $value in $round-percent{
    .round-br-#{$key}{
        border-bottom-right-radius: $value;
        border-style: solid;

    }
}

