// $start-margin-padding:1;
// $end-margin-padding-x:300;
// $end-margin-padding-p:200;
// $end-margin-padding:100;
// $auto-processed: true; // for break the loop when value will auto 

$width-units: (
    "x": px,
    "rm": rem,
    "v": vw,
    "p": percentage,
    "fit":fit-content,
    "max-content":max-content,
    "min-content":min-content,
    "auto":auto,
);



$height-units: (
    "x": px,
    "rm": rem,
    "v": vh,
    "p": percentage,
    "fit":fit-content,
    "max-content":max-content,
    "min-content":min-content,
    "auto":auto,
);


// For margin and Padding
$units-postfix: (
    "x": "px",
    "rm": "rem",
    "e": "em",
    "p": "%",
    "auto":auto,
);



// Map for background-repeat
$bg-repeat:(
    "x": repeat-x,
    "y": repeat-y,
    "no": no-repeat,
    "yes": repeat,
    "space":space,
    "round": round
);


//  Map for background-size
$bg-size:(
    "contain": contain,
    "cover": cover,
    "auto": auto
);


// Map for background-position
$bg-position:(
  "left":left,
  "right":right,
  "top": top,
  "bottom":bottom,
  "top-left": top left,
  "top-right": top right,
  "bottom-left": bottom left,
  "bottom-right": bottom right,
  "center": center
  
);

// Map for background-position-x
$bg-position-x:(
  "left":left,
  "right":right,
  "center": center
);

// Map for background-position-y
$bg-position-y:(
  "top": top,
  "bottom":bottom,
  "center": center
);


// Map for background-origin
$bg-origin:(
    "padding":padding-box,
    "border": border-box,
    "content": content-box
);



// Map for background-clip
$bg-clip:(
    "padding":padding-box,
    "border": border-box,
    "content": content-box
);


// Map for background-attachment
$bg-attachment:(
    "scroll":scroll,
    "fixed": fixed,
    "local": local
);


//Map for background-blender-mode
$blender-mode:(
    "normal":normal,
    "multiply":multiply,
    "screen":screen,
    "overlay":overlay,
    "darken":darken,
    "lighten":lighten,
    "color-dodge":color-dodge,
    "color-burn":color-burn,
    "hard-light":hard-light,
    "soft-light":soft-light,
    "difference":difference,
    "exclusion":exclusion,
    "hue":hue,
    "saturation":saturation,
    "color":color,
    "luminosity":luminosity,
);



// Map for display
$display:(
    "block":block,
    "inline":inline,
    "inline-block":inline-block,
    "none":none,
    "contents":contents,
    "inline-table":inline-table,
    "list-item":list-item,
    "table":table,
    "table-row":table-row,
    "table-cell":table-cell,
    "table-row-group":table-row-group,
    "table-header-group":table-header-group,
    "table-footer-group":table-footer-group,
    "table-column":table-column,
    "table-column-group":table-column-group,
    "table-caption":table-caption,
    "run-in":run-in,
    "inherit":inherit,
    "initial":initial,
    "unset":unset,
    "ruby":ruby,
    "ruby-base":ruby-base,
    "ruby-text":ruby-text,
    "ruby-base-container":ruby-base-container,
    "ruby-text-container":ruby-text-container
);

// Line Size value
$line-size:(
    "1": 1px,
    "2": 2px,
    "3": 3px,
);

//style
$line-style:(
    "": solid,
    "dot": dotted,
    "dash": dashed,
    "double": double
);


/*----------Typography----------*/
/*----------Font----------*/
// font-family
$font-families: (
    'arial': Arial, sans-serif,
    'verdana': Verdana, sans-serif,
    'tahoma': Tahoma, sans-serif,
    'georgia': Georgia, serif,
    'garamond': Garamond, serif,
    'times-new-roman': 'Times New Roman', serif,
    'brush-script': 'Brush Script MT', cursive,
    'monospace': 'Courier New', monospace
);

// font-size
$font-sizes: (
    'xs': 0.7rem,
    'sm': 0.875rem,
    'md': 1rem,
    'lg': 1.25rem,
    'xl': 1.5rem,
    '2xl': 1.75rem,
    '3xl': 2rem,
    '4xl': 2.25rem,
    '5xl': 2.5rem
);

// font-style
$font-styles: (
    'normal': normal,
    'italic': italic,
    'oblique': oblique
);

// font-weight
$font-weights: (
    'thin': 100,
    'extra-light': 200,
    'light': 300,
    'normal': 400,
    'medium': 500,
    'semi-bold': 600,
    'bold': 700,
    'bolder': 800,
    'extra-bold': 900
);

// font-variant
$font-variants: (
    'normal': normal,
    'small': small-caps,
    'all-small': all-small-caps,
    'petite': petite-caps,
    'all-petite': all-petite-caps,
    'unicase': unicase,
    'titling': titling-caps
);

// font-stretching
$font-stretches: (
    'ultra-condensed': ultra-condensed,
    'extra-condensed': extra-condensed,
    'condensed': condensed,
    'semi-condensed': semi-condensed,
    'normal': normal,
    'semi-expanded': semi-expanded,
    'expanded': expanded,
    'extra-expanded': extra-expanded,
    'ultra-expanded': ultra-expanded
);

// font-kerning
$font-kernings: (
    'auto': auto,
    'normal': normal,
    'none': none
);

// font-sythesis
$font-syntheses: (
  'auto': auto,
  'none': none
);

// font-optical-sizing
$font-optical-sizings: (
  'auto': auto,
  'none': none
);

/*----------Text----------*/